<div class="h-screen w-screen flex justify-center items-center select-none">
    <div class="flex flex-col justify-center items-start gap-4">
        <img src="../../assets/error.gif" class="rounded-xl shadow border"/>
        <div class="flex items-center justify-between w-full">
            <div class="flex justify-center items-center gap-4">
                <lucide-angular name="unlink" size="50"/>
                <div>
                    <h1 class="font-semibold text-3xl">404 !</h1>
                    <p class="italic leading-none">The requested link couldn't be found.</p>
                </div>
            </div>

            <a routerLink="/" class="rounded-lg shadow hover:bg-gray-800 transition-colors hover:shadow-none bg-black text-white px-4 py-2">Go back</a>
        </div>
    </div>
</div>
